{% extends "base.html" %}

{% block title %}
    e-commX &mdash; Products List
{% endblock %}

{% block body %}
    <div class="col col-sm-10 col-md-8 col-lg-6 mx-auto">
        <div class="card">
            <div class="card-header gray-dark"><h3 class="text-white">{{ prod.title }}</h3></div>
            <div class="card-body">
            {% if prod.image %}
                <img src="{{ prod.image.url }}" class="img-fluid" width="100%">
            {% endif %}
                <p class="mt-3">
                    <span class="ml-2">{{ prod.description }}</span>

                </p>
            </div>
            <div class="card-footer">
                <span class="float-left card-text text-uppercase">
                    Price <i class="mx-1">${{ prod.price }}</i>
                </span>
                <span class="float-right">
                    {% include "products/snipps/update-cart.html" with product=prod cart=cart %}
                </span>
            </div>
        </div>
    </div>
{% endblock %}